/* grid 1 includes date and welcome user (with name) */
.welcome-home-page {
    display: grid;
    grid-template-columns: 50% 50%;
    height: max-content;
    margin: 5px;
}

.date-time,
.welcome-name {
    border: 2px black solid ;
    border-radius:10px;
    width:50%;
    height: 50px;
    position: relative;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.date-time {
    grid-column: 2;
}

.welcome-name {
    grid-column: 1;
}

.date-time h3 {
    text-align: center;
}

.welcome-name h2 {
    text-align: center;
}
/* end of grid 1 */

/* grid 2 everything that is included in the dashboard */
.dashboard {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 20% 31% 49%;
    height: 93%;
    width:98%;
    position: absolute;
    left: 1%;
}

.daily-message-box {
    /* border: 2px black solid ;
    border-radius:10px; */
    grid-row: 1;
    grid-column: 1/ span 2;
    margin : 1%;
}

.daily-interaction-box{
    /* border: 2px black solid ;
    border-radius:10px; */
    grid-row: 2;
    grid-column: 1;
    margin : 2%;
}

.mood-entry-box{
    border: 2px black solid ;
    border-radius:10px;
    grid-row: 2;
    grid-column:2;
    margin : 2%;
}

.chatbot-box{
    /* border: 2px black solid ;
    border-radius:10px; */
    grid-row: 1 / span 3;
    grid-column: 3;
    margin : 2.5%;
}

.wellness-box {
    border: 2px black solid ;
    border-radius:10px;
    grid-row: 3;
    grid-column: 1;
    margin : 2%;
}

.resource-box {
    border: 2px black solid ;
    border-radius:10px;
    grid-row: 3;
    grid-column: 2;
    margin : 2%;
}

/* below concerns the content inside each box */
.daily-message-box h2,
.daily-interaction-box h2, 
.wellness-box h2,
.resource-box h2{
    position: relative;
    left: 2%;
    top: -3%;
}

.chatbot-box h2{
    position: relative;
    left: 2%;
    top: -1%;
}
/* end of grid 2 */

/* css for daily message */
.message {
    font-size: xx-large;
    text-align: center;
}
/*  */

/* css for chat bot */
.start-chat-button {
    border: 2px black solid;
    border-radius: 4px ;
    width: 80%;
    padding-top: 20%;
    padding-bottom: 20%;
    position: relative;
    left: 10%;
}

.convo-box {
    height:70%;
    width:90%;
    overflow-y: auto;
}