.nav-icon-button {

  position: relative;
}

.nav-open-menu-button,
.nav-close-menu-button {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  color: white;
  z-index: 3;
  bottom: 10px;
  position: fixed;
  font-size: x-large;
}

.nav-icon-button::before {
  content: attr(data-id);
  opacity: 0;
  font-size: small;
  position: absolute;
  width: max-content;
  bottom: -35%;
  /* puts it below icon button */
  left: 50%;
  transform: translateX(-50%);
  /* centering */
  background-color: rgba(0, 0, 0, 1);
  z-index: 4;
  color: white;
  padding: 3px;
  border-radius: 5px;
  transition: opacity 0.35s;
  /* adds smooth transition*/
  transition-delay: 0.4s;
  /* time taken to remove label (no longer hovering)*/
}

.nav-icon-button:hover::before {
  opacity: 1;
  transition-delay: 2s;
  /* time taken for label to appear when hovering over icon*/
}

.nav-dock-modal {
  position: fixed;
  width: 250px;
  /*size of circle, height==width*/
  height: 250px;
  left: 3%;
  bottom: 3%;
  z-index: 3;
  clip-path: circle(200px);
  /*makes into a circle , can also use border-radius (at 50%) instead of this*/
}

.nav-dock-modal-content {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 15% 35% 35% 15%;
  justify-items: center;
  align-items: center;
}

.empty-cell-1 {
  grid-row: 1;
  grid-column: 1/ span 4;
}

.empty-cell-2 {
  grid-row: 4;
  grid-column: 1/ span 4;
}

.empty-cell-3 {
  grid-row: 2/ span 2;
  grid-column: 1;
}

.empty-cell-4 {
  grid-row: 2/ span 2;
  grid-column: 4;
}

.nav-dock-modal-content button {
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0.4);
  width: 70px;
  height: 70px;
  border-radius: 10px;
}